<div class="content">
  <div class="skill_container">

    <div class="header">
      <p class="content_title">Update skill</p>
      <a class="close_add_new_skill" (click)="closeUpdateSkill()"></a>
    </div>

    <div class="rate_skill">
      <p class="rate_skill_text">Rate your skill</p>
      <ngb-rating [max]="5" [(rate)]="skillData.skill.rating" [readonly]="false">
        <ng-template let-fill="fill">
          <span class="star" [class.filled]="fill===100">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <p class="test_text">or just pass <a href="https://docs.google.com/document" target="blank" class="pass_test">this test</a> which gives a reliable and extensive report about your skills level !</p>
    </div>

    <div class="skill_button">
      <button class="update _btn">Update</button>
      <button class="delete _btn">Delete</button>
    </div>

  </div>
</div>